/* DataHandler.css */
.data-container
{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 10px 0px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.data-container h2
{
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.data-container p
{
    color: #9c9999;
    font-size: 1em;
    line-height: 1;
}

.add-to-reaction-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-to-reaction
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    ;
}

button.add-compounds,
button.reset-reaction
{
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 10px;
}

.search-results
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #242323;
    max-width: 600px;
    min-width: 280px;
    width: 100%;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.pm-result,
.mf-result
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    line-height: 1;
}

h4
{
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
}