.lab-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titration-section-container {
    min-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h2, h3 {
    text-align: center;
    color: #575757;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Estilo para las etiquetas y entradas de texto */
label {
    margin-bottom: 10px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el botón */
button.titration-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Estilo para la sección de herramientas de laboratorio */
.lab-tools {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/* Agrega estilos específicos para tu componente 'Bureta' si es necesario */
.bureta {
    margin-right: 10px;
}

/* Agrega estilos específicos para la sección de resultados 'titulacion' si es necesario */
.result-hidden {
    display: none;
}

.result-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-for-test {
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}